@import url("https://fonts.googleapis.com/css2?family=Outfit:wghtt@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
    --main:rgb(148,231,148);--dark:#2d4a2d;--bg:#fcfaf6;--white:#fff
}
body{
    font-family:'Outfit' , sans-serif;background: var(--bg);color: var(--dark);line-height: 1.6;
}

/* FLEX - NAV */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 5%;
    background: #ffffffcc;
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 2px solid var(--main);
}
.logo{
    font-weight: 800;
    font-size: 1.4rem;
}
.logo span{
    color: var(--main);
}
.nav-links-wrap{
    display: flex;gap: 1.5rem;
}
.nav-links-wrap a{
       text-decoration: none;
       color: var(--dark);
       font-weight: 600;
}